body {
    height: 150vh;
}
header {
    position: fixed;
    width: 100%;
    height: 5vh;
    margin-top: 0;
    background-color: rgb(37, 37, 37);
    margin-left: -8px;
    margin-top: -8px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end; */
}

.div-nav {
    position: relative;
    color: white;
    overflow: hidden;
    vertical-align: middle;
}

.div-nav p {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 17px;
}

.div-nav-right {
    display: flex;
    align-items: center;
    float: right;
    color: white;
    padding-right: 5px;
}

.dev-daily {
    position: relative;
    color: rgb(42, 171, 226);
    font-size: 25px;
    padding-top: 50%;
    
}

.skills-check {
    width: 100%;
    height: 1200px;
}

.items-container {
    width: 100%;
    height: 500px;
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.items-item {
    width: 150px;
    height: 150px;
    background-color: rgb(86, 86, 216);
    border: 1px solid black;
    display: inline-block;
}

/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/